:root {
    --bg-color: #DBF6E9;
    --primary-color: #31326F;
    --secondary-color: #9DDFD3;
    --accent-color: #FFC93C;
    --blue50: #5596f6;
    --blue60: #2a7bf4;
    --blue70: #2a5ca7;
    --green50: #9fd966;
    --green60: #74bd29;
    --green70: #6a9440;
    --grey40: #cccccc;
    --grey70: #666;
    --grey80: #333;
    --red50: #e85e23;
    --red60: #cb4c15;
    --red70: #9f370a;
    --yellow50: #fcd33f;
    --yellow60: #e6b60d;
    --yellow70: #cf8e10;
}

*,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    font-family: 'Barlow', sans-serif;
    padding: 3.125rem;
    background: var(--bg-color);
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--primary-color);
}

.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 80%;
    margin: 0 auto;
}

header {
    font-size: 1.625rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (max-width: 991px) {
    .wrapper {
        /* max-width: 500px; */
    }
}

@media (min-width: 64rem) {}

@media (min-width: 992px) {
    .wrapper {
        flex-direction: row;
    }
    .wrapper .placeholder .alpaca img {
        width: inherit;
        height: auto;
        object-fit: contain;
    }
}

.wrapper .placeholder {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
}

.wrapper .placeholder .alpaca {
    width: 500px;
    height: 500px;
    background-color: wheat;
    position: relative;
}

.wrapper .placeholder .alpaca img {
    position: absolute;
    top: 0;
    left: 0;
    /* max-width: 500px; */
    width: inherit;
    height: auto;
    object-fit: contain;
}

.wrapper .placeholder .other__controls {
    display: flex;
    justify-content: space-between;
}

.wrapper .placeholder .other__controls button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
}

.wrapper .controls {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.wrapper .controls .accessories {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.wrapper .controls .styling {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1.25rem;
}


/* .items button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
} */

button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 20px;
    color: var(--primary-color);
    border-radius: 5px;
    border: 2px solid #fff;
    background: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    border: 2px solid var(--accent-color);
    color: #fff;
    background: var(--accent-color);
}

button.active {
    background: var(--accent-color);
    border: 2px solid var(--accent-color);
    color: #fff;
}

.default {
    background: var(--blue50);
}

.blue60 {
    background: var(--blue60);
}

.blue70 {
    background: var(--blue70);
}

.green50 {
    background: var(--green50);
}

.green60 {
    background: var(--green60);
}

.green70 {
    background: var(--green70);
}

.grey40 {
    background: var(--grey40);
}

.grey70 {
    background: var(--grey70);
}

.grey80 {
    background: var(--grey80);
}

.red50 {
    background: var(--red50);
}

.red60 {
    background: var(--red60);
}

.red70 {
    background: var(--red70);
}

.yellow50 {
    background: var(--yellow50);
}

.yellow60 {
    background: var(--yellow60);
}

.yellow70 {
    background: var(--yellow70);
}

button.coloractive.color {
    /* border: 2px solid var(--accent-color); */
    border: 2px solid var(--accent-color);
}

button.color {
    color: white;
    padding: 20px;
    border: 2px solid transparent;
}

button.color:hover {
    opacity: 0.9;
}